<app-game-control (showGameNumber)="getNumber($event)"></app-game-control>
<div class="container">
  <div class="row mt-4">
      <div class="col-xs-12">
        <ul>
          <li *ngFor="let number of numberList" >
            <div *ngIf=" number % 2 === 0; else oddBlock">
              <app-even-element [evenNumber] = "number"></app-even-element>
            </div>
            <ng-template #oddBlock>
              <app-odd-element [oddNumber] = "number"></app-odd-element>
            </ng-template>
          </li>
        </ul>
      </div>
  </div>
</div>

